name: bnf-pytest
permissions:
  contents: read

on:
  - pull_request
  - push

env:
  PYTHON_LATEST_VERSION: '3.14'

jobs:
  bnf-pytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true

      - name: dependencies
        working-directory: bnf
        run: uv sync --locked --extra dev

      - name: pytest
        working-directory: bnf
        run: uv run pytest

  wheels:
    runs-on: ${{ matrix.os }}
    needs: bnf-pytest

    if: "github.event_name == 'push' && startsWith(github.ref, 'refs/tags')"

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6

      - name: recovery tag information
        run: git fetch --tags --force

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_LATEST_VERSION }}
          cache: 'pip'

      - name: install cibuildwheel
        run: pip install cibuildwheel

      - name: build wheels
        working-directory: bnf
        run: python -m cibuildwheel

      - uses: actions/upload-artifact@v5
        with:
          name: wheels-${{ matrix.os }}
          path: bnf/wheelhouse/*.whl

  upload:
    runs-on: ubuntu-latest
    needs: wheels

    environment:
      name: pypi-bnf
      url: https://pypi.org/project/apyds-bnf
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v6
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
