name: docs
permissions:
  contents: read

on:
  push:
    branches:
      - main

concurrency:
  group: "pages"
  cancel-in-progress: false

env:
  EM_CACHE_FOLDER: 'emsdk-cache'
  NODE_LATEST_VERSION: '24'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_LATEST_VERSION }}
          cache: 'npm'

      - uses: actions/cache@v5
        with:
          path: ${{ env.EM_CACHE_FOLDER }}
          key: docs-em-cache-${{ runner.os }}

      - uses: pyodide/setup-emsdk@v15
        with:
          actions-cache-folder: ${{ env.EM_CACHE_FOLDER }}

      - name: dependencies
        run: npm ci

      - name: build
        run: npm run docs

      - uses: actions/upload-pages-artifact@v4
        with:
          path: .vitepress/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write

    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
