name: jest

on:
  - pull_request
  - push

env:
  EM_CACHE_FOLDER: 'emsdk-cache'

jobs:
  jest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node-version: ['20', '22', '24']

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - uses: actions/cache@v4
        with:
          path: ${{ env.EM_CACHE_FOLDER }}
          key: jest-em-cache-${{ runner.os }}-${{ matrix.node-version }}

      - uses: pyodide/setup-emsdk@v15
        with:
          actions-cache-folder: ${{ env.EM_CACHE_FOLDER }}

      - name: dependencies
        run: npm ci

      - name: jest
        run: npm run all
