name: pytest
permissions:
  contents: read

on:
  - pull_request
  - push

jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: dependencies
        run: pip install '.[dev]'

      - name: pytest
        run: pytest --cov=pyds

  pypi:
    runs-on: ${{ matrix.os }}
    needs: pytest

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: build wheels
        run: python -m cibuildwheel

      - uses: actions/upload-artifact@v5
        with:
          path: ./wheelhouse/*.whl
