name: pytest
permissions:
  contents: read

on:
  - pull_request
  - push

jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'

      - name: dependencies
        run: pip install '.[dev]'

      - name: pytest
        run: pytest --cov=pyds

  wheels:
    runs-on: ${{ matrix.os }}
    needs: pytest

    if: "github.event_name == 'push' && startsWith(github.ref, 'refs/tags')"

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6

      - name: recovery tag information
        run: git fetch --tags --force

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: install cibuildwheel
        run: pip install cibuildwheel

      - name: build wheels
        run: python -m cibuildwheel
        env:
          CIBW_ENVIRONMENT_WINDOWS: SKBUILD_CMAKE_ARGS=-GNinja

      - uses: actions/upload-artifact@v5
        with:
          name: wheels-${{ matrix.os }}
          path: wheelhouse/*.whl

  upload:
    runs-on: ubuntu-latest
    needs: wheels

    environment: pypi
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v6
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
