name: pytest
permissions:
  contents: read

on:
  - pull_request
  - push

env:
  PYTHON_LATEST_VERSION: '3.13'

jobs:
  wheels:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v6

      - name: recovery tag information
        run: git fetch --tags --force

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_LATEST_VERSION }}
          cache: 'pip'

      - name: install cibuildwheel
        run: pip install cibuildwheel

      - name: build wheels
        run: python -m cibuildwheel
        env:
          CIBW_ENVIRONMENT_WINDOWS: SKBUILD_CMAKE_ARGS=-GNinja

      - uses: actions/upload-artifact@v5
        with:
          name: wheels-${{ matrix.os }}
          path: wheelhouse/*.whl

  upload:
    runs-on: ubuntu-latest
    needs: wheels

    environment: pypi
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v6
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
